.card-container{
    margin: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 14rem;
    border-radius: .5rem;
    background-color: var(--card-bg-color);
}

.img-1 {
    transition: transform 0.3s;
  }
.img-1:hover {
    transform: scale(1.2);
  }
  

.card-text{
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: 12px;
}

.card-ratings{
    display: flex;
    justify-content: space-between;
}

.img-1{
    height: 18rem;
    width: 13rem;
    position: center center;
}
.card-img-container{
    width: 100%;
    Height: 100%;
}
.card-img {
    width: 100%;
    height: 100%;
    position: center;
}